<section id="navigation">
    <nav class="container navbar navbar-toggleable-md navbar-light bg-faded">
        <div [routerLink]="['/toolkit']" class="navbar-brand cursor">Home</div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            </ul>
            <div class="search">
                <input id="search-criteria" type="text" class="form-control input-sm" maxlength="64"
                       placeholder="Technology">
                <button id="search" type="submit" class="btn">Search</button>
            </div>
        </div>
    </nav>
</section>